.ch-grid_col.--one-third_from-tablet
	.card.ch-sidenav
		h3.ch-sidenav_title.ch-text.--kilo.--bold Paramètres
		a.ch-sidenav_link(ng-class="{active:settings.isSet(1)}", ng-click="settings.setTab(1)").
			#[i.fa.fa-home]
			General
		a.ch-sidenav_link(ng-class="{active:settings.isSet(5)}", ng-click="settings.setTab(5)").
			#[i.fa.fa-hotel]
			Gestion des centres
		a.ch-sidenav_link(ng-class="{active:settings.isSet(2)}", ng-click="settings.setTab(2)").
			#[i.fa.fa-eye]
			Photo de profil
		a.ch-sidenav_link(ng-class="{active:settings.isSet(3)}", ng-click="settings.setTab(3)").
			#[i.fa.fa-users]
			Membres
		a.ch-sidenav_link(ng-class="{active:settings.isSet(4)}", ng-click="settings.setTab(4)").
			#[i.fa.fa-times]
			Supprimer

.ch-grid_col.--two-thirds_from-tablet
	//- Messages de succes
	.alert.alert-success(
		role="alert",
		ng-show="settings.success",
		ng-bind-html="settings.success")
	//- Messages d'erreur
	.alert.alert-danger(
		role="alert",
		ng-show="settings.error",
		ng-bind-html="settings.error")

	//- Paramètres généraux
	.card(ng-show="settings.isSet(1)")
		h2.ch-text.--mega Paramètres généraux
		form.ch-form(
			novalidate="",
			name="updateForm",
			ng-submit="updateForm.$valid && settings.updateAsso()"
			)
			fieldset.ch-form_row
				label.ch-form_label(for="inputName") Nom
				input.ch-form_text(
					type="text",
					id="inputName",
					placeholder="Titre",
					ng-model="settings.asso.name"
					)

			fieldset.ch-form_row
				label.ch-form_label(for="inputDescription") Description
				textarea.ch-form_text(
					id="inputDescription",
					placeholder="Description",
					ng-model="settings.asso.description",
					)

			fieldset.ch-form_row
				label.ch-form_label(for="inputLocation") Ville
				input.ch-form_text(
					type="text",
					id="inputLocation",
					placeholder="Location",
					ng-model="settings.asso.city"
					)

			.pull-right
				button.ch-btn(type="submit", ng-disabled="settings.updating").
					#[i.fa.fa-spin.fa-spinner(ng-show="settings.updating")]
					Enregistrer

	//- Gestion des centres
	.card(ng-show="settings.isSet(5)")
		h2.ch-text.--mega Gestions des centres
		.card
			h4.ch-text.--mega Liste des centres
			table.--first-emphasis(ng-if="settings.asso.shelters.length")
				thead
					tr
						th Nom
						th Adresse
						th Places
						th Places occupées
				tbody
					tr(ng-repeat="shelter in settings.asso.shelters")
						td
							a(ui-sref="profil.home({id:{{shelter.id}}})").
								#[img.ch-avatar.--small(ng-src="{{settings.apiurl + shelter.thumb_path}}")]
								{{shelter.name}}
						td
							{{ shelter.address }}, {{ shelter.zipcode }} {{ shelter.city }}
						td
							{{ shelter.total_places }}
						td
							{{ shelter.free_places }}

	//- Photo de profil
	.card(ng-show="settings.isSet(2)")
		h2.ch-text.--mega Photo de profil
		div(ng-show="!settings.changePicture")
			.alert.alert-info Cette photo est visible par tous les utilisateurs. Cliquez sur le bouton pour la changer.
			img.ch-avatar.--big(ng-src="{{settings.apiurl + settings.asso.thumb_path}}", alt="{{settings.asso.name}}")
			button.ch-btn(ng-click="settings.changePicture = true") Changer la photo
		div(ng-show="settings.changePicture")
			.progress(ng-show="settings.picture.progress >= 0")
				div(style="width:{{settings.picture.progress}}%", ng-bind="settings.picture.progress + '%'")
			form.ch-form(novalidate="", name="pictureForm")
				fieldset.ch-form_row
					input(
					type="file",
					ng-model="settings.picture",
					base-sixty-four-input="",
					name="uploadPicture",
					required="",
					accept="image/*"
					)
			button.ch-btn(ng-click="settings.updatePicture()", ng-disabled="settings.updating").
					#[i.fa.fa-spin.fa-spinner(ng-show="settings.updating")]
					Enregistrer
			button.ch-btn.--fail(ng-click="settings.picture = null; settings.changePicture = false", ng-show="settings.picture") Annuler

	//- Gestion membres
	.card(ng-show="settings.isSet(3)")
		h2.ch-text.--mega Gestion des membres
		.card
			h4.ch-text.--kilo Demandes en attente
			table.--first-emphasis(ng-if="settings.asso.waiting.length")
				thead
					tr
						th Nom
						th Action
				tbody
					tr(ng-repeat="waiter in settings.asso.waiting")
						td
							a(ui-sref="profil.home({id:{{waiter.id}}})").
								#[img.ch-avatar.--small(ng-src="{{settings.apiurl + waiter.thumb_path}}")]
								{{waiter.firstname}} {{waiter.lastname}}
						td
							btn.btn.btn-xs.btn-success(title="Accepter la demande", ng-click="settings.replyDemand(waiter.notif_id, true, $index)")
								i.fa.fa-check
							btn.btn.btn-xs.btn-danger(title="Refuser la demande", ng-click="settings.replyDemand(waiter.notif_id, false, $index)")
								i.fa.fa-times
			.alert.alert-info(ng-if="!settings.asso.waiting.length") Aucune demande en attente
		.card
			h4.ch-text.--kilo Invitations en cours
			table.--first-emphasis(ng-if="settings.asso.invited.length")
				tr(ng-repeat="invite in settings.asso.invited")
					td
						a(ui-sref="profil.home({id:{{invite.id}}})").
							#[img.ch-avatar.--small(ng-src="{{settings.apiurl + invite.thumb_path}}")]
							{{invite.firstname}} {{invite.lastname}}
			.alert.alert-info(ng-if="!settings.asso.invited.length") Aucune invitation en attente
		.card
			h4.ch-text.--kilo Membres
			table.--first-emphasis
				thead
					tr
						th Nom
						th Status
						th Action
				tbody
					tr(ng-repeat="member in settings.asso.members")
						td
							a(ui-sref="profil.home({id:{{member.id}}})").
								#[img.ch-avatar.--small(ng-src="{{settings.apiurl + member.thumb_path}}")]
								{{member.firstname}} {{member.lastname}}
						td {{member.rights}}
						td
							button.btn.btn-xs.btn-warning(title="Rétrograder le membre", ng-click="settings.demoteUser(member.id)", ng-if="member.rights == 'admin'")
								i.fa.fa-thumbs-down
							button.btn.btn-xs.btn-info(title="Promouvoir en admin", ng-click="settings.promoteUser(member.id)", ng-if="member.rights == 'member'")
								i.fa.fa-thumbs-up
							button.btn.btn-xs.btn-danger(title="Expulser le membre", ng-click="settings.kickUser(member.id)", ng-if="member.rights != 'owner'")
								i.fa.fa-times

	//- Suppression
	.card(ng-show="settings.isSet(4)")
		h2.ch-text.--mega Suppression de l'évènement
		.alert.alert-danger.
			#[i.fa.fa-exclamation-triangle]
			Cette action est irréversible !
		button.ch-btn.--fail(ng-click="settings.deleteAsso()") Supprimer l'association

