.ch-grid_col.--one-third_from-tablet
	.card.ch-sidenav
		h3.ch-sidenav_title.ch-text.--kilo.--bold Paramètres
		a.ch-sidenav_link(ng-class="{active:settings.isSet(1)}", ng-click="settings.setTab(1)").
			#[i.fa.fa-home]
			General
		a.ch-sidenav_link(ng-class="{active:settings.isSet(2)}", ng-click="settings.setTab(2)").
			#[i.fa.fa-eye]
			Photo de profil
		a.ch-sidenav_link(ng-class="{active:settings.isSet(3)}", ng-click="settings.setTab(3)").
			#[i.fa.fa-sign-in]
			Invitations

.ch-grid_col.--two-thirds_from-tablet
	//- Messages d'erreur
	.alert.alert-info(
		role="alert",
		ng-show="settings.success",
		ng-bind-html="settings.successMessage")
	//- Messages d'erreur
	.alert.alert-danger(
		role="alert",
		ng-show="settings.error",
		ng-bind-html="settings.errorMessage")
	.card(ng-show="settings.isSet(1)")
		h2.ch-text.--mega Paramètres du compte
		form.ch-form(
			novalidate="",
			name="updateForm",
			ng-submit="updateForm.$valid && settings.updateVolunteer()"
			)

			fieldset.ch-form_row
				label.ch-form_label(for="inputFirstName") Prénom
				.ch-form_input-group
					span.ch-form_addition.--prefix
						i.fa.fa-user
					input.ch-form_text(
						type="text",
						name="inputFirstName",
						placeholder="Prénom",
						ng-model="settings.user.firstname"
						)
				.ch-form_message.--error(ng-messages="updateForm.inputFirstName.$error", ng-show="updateForm.$submitted && updateForm.inputFirstName.$invalid")
					p(ng-message="required") Ce champs est requis

			fieldset.ch-form_row
				label.ch-form_label(for="inputLastName") Nom
				.ch-form_input-group
					span.ch-form_addition.--prefix
						i.fa.fa-user
					input.ch-form_text(
						type="text",
						name="inputLastName",
						placeholder="Nom",
						ng-model="settings.user.lastname"
					)
				.ch-form_message.--error(ng-messages="updateForm.inputLastName.$error", ng-show="updateForm.$submitted && updateForm.inputLastName.$invalid")
					p(ng-message="required") Ce champs est requis

			fieldset.ch-form_row
				label.ch-form_label(for="inputMail") Adresse e-mail
				.ch-form_input-group
					span.ch-form_addition.--prefix
						i.fa.fa-envelope
					input.ch-form_text(
						type="email",
						name="inputMail",
						placeholder="Adresse e-mail",
						ng-model="settings.user.mail",
						required=""
					)
				.ch-form_message.--error(ng-messages="updateForm.inputMail.$error", ng-show="updateForm.$submitted && updateForm.inputMail.$invalid")
					p(ng-message="required") Ce champs est requis

			fieldset.ch-form_row
				label.ch-form_label(for="inputBirthday") Date de naissance
				.ch-form_input-group
					span.ch-form_addition.--prefix
						button(
							type="button",
							ng-click="settings.openBirthdate()"
						)
							i.fa.fa-calendar
					input.ch-form_text(
						type="text",
						ng-model="settings.user.birthday",
						uib-datepicker-popup="dd/MM/yyyy",
						is-open="settings.popupBirthdate.opened",
						datepickerOptions="dateOptions",
						close-text="Fermer"
					)

			fieldset.ch-form_row
				label.ch-form_label(for="inputPassword") Mot de passe
				.ch-form_input-group
					span.ch-form_addition.--prefix
						i.fa.fa-lock
					input.ch-form_text(
						type="password",
						name="inputPassword",
						required="",
						ng-model="settings.password"
					)
				.ch-form_message.--error(ng-messages="updateForm.inputPassword.$error", ng-show="updateForm.$submitted && updateForm.inputPassword.$invalid")
					p(ng-message="required") Ce champs est requis

			fieldset.ch-form_row
				label.ch-form_label(for="inputConfirm") Confirmation
				.ch-form_input-group
					span.ch-form_addition.--prefix
						i.fa.fa-lock
					input.ch-form_text(
						type="password",
						name="inputConfirm",
						required="",
						ng-model="settings.confirm"
						compare-to="settings.password"
					)
				.ch-form_message.--error(
					ng-messages="updateForm.inputConfirm.$error",
					ng-show="(updateForm.$submitted || updateForm.inputConfirm.$touched) && updateForm.inputConfirm.$invalid"
				)
					p(ng-message="required") Ce champs est requis
					p(ng-message="compareTo") Les mots de passe ne correspondent pas
			.pull-right
				button#buttonSave.ch-btn(type="submit") Enregistrer

	.card(ng-show="settings.isSet(2)")
		h2.ch-text.--mega Photo de profil
		div(ng-show="!settings.changePicture")
			.alert.alert-info Votre photo de profil est visible par tous les utilisateurs. Cliquez sur le bouton pour la changer.
			img(ng-src="{{settings.user.picture}}", alt="{{settings.user.firstname}} {{settings.user.lastname}}")
			button.ch-btn(ng-click="settings.changePicture = true") Changer la photo
		div(ng-show="settings.changePicture")
			.progress(ng-show="settings.picture.progress >= 0")
				div(style="width:{{settings.picture.progress}}%", ng-bind="settings.picture.progress + '%'")
			form.ch-form(novalidate="", name="pictureForm")
				fieldset.ch-form_row
					input(
						type="file",
						ng-model="settings.picture",
						base-sixty-four-input="",
						name="uploadPicture",
						required="",
						accept="image/*"
					)
			button#buttonPicture.ch-btn(ng-click="settings.updatePicture()") Enregistrer
			button#buttonCancel.ch-btn.--fail(ng-click="settings.picture = null; settings.changePicture = false", ng-show="settings.picture") Annuler

	.card(ng-show="settings.isSet(3)")
		h2.ch-text.--mega Gestion des invitations
		section
			.invite

				//- Invitation dans une asso
				.invite--asso(ng-repeat="asso in settings.invited.assos")
					.invite--text
						//- .invite--from
						//- 	a(ui-sref="profil.home({id:{{asso.id}}})").
						//- 		#[img(ng-src="http://api.caritathelp.me{{asso.thumb_path}}")]
						//- 		{{asso.name}}
						.invite--description Vous avez été invité à rejoindre l'association
						.invite--to
							a(ui-sref="association.home({id:{{asso.id}}})").
								#[img(ng-src="http://api.caritathelp.me{{asso.thumb_path}}")]
								{{asso.name}}
					.invite--actions
						button.ch-btn(ng-click="settings.answerAsso(asso.notif_id, true, $index)")
							i.fa.fa-check
						button.ch-btn.--fail(ng-click="settings.answerAsso(asso.notif_id, false, $index)")
							i.fa.fa-times

				//- Invitation dans un event
				.invite--event(ng-repeat="event in settings.invited.events")
					.invite--text
						//- .invite--from
						//- 	a(ui-sref="profil.home({id:{{event.id}}})").
						//- 		#[img(ng-src="http://api.caritathelp.me{{event.thumb_path}}")]
						//- 		{{event.title}}
						.invite--description Vous avez été invité à participer à l'évènement
						.invite--to
							a(ui-sref="event.home({id:{{event.id}}})").
								#[img(ng-src="http://api.caritathelp.me{{event.thumb_path}}")]
								{{event.title}}
					.invite--actions
						button.ch-btn(ng-click="settings.answerEvent(event.notif_id, true, $index)")
							i.fa.fa-check
						button.ch-btn.--fail(ng-click="settings.answerEvent(event.notif_id, false, $index)")
							i.fa.fa-times

				//- Invitation d'ami
				.invite--friend(ng-repeat="user in settings.invited.friends")
					.invite--text
						a(ui-sref="profil.home({id:{{user.id}}})")
							img(ng-src="http://api.caritathelp.me{{user.thumb_path}}")
						.ch-text.
							#[a(ui-sref="profil.home({id:{{user.id}}})") {{user.firstname}} {{user.lastname}}]
							 vous a ajouté à ses amis
					.invite--actions
						button.ch-btn(ng-click="settings.answerFriend(user.notif_id, true, $index)")
							i.fa.fa-check
						button.ch-btn.--fail(ng-click="settings.answerFriend(user.notif_id, false, $index)")
							i.fa.fa-times

			//- Empty
			.alert.alert-info(ng-if="!settings.invited.length") Vous n'avez pas d'invitations récentes
