.ch-grid_col.--one-third_from-tablet
	.card
		.text-list
			.link(ng-class="{active:settings.isSet(1)}")
				i.fa.fa-home
				a(ng-click="settings.setTab(1)") General
			.link(ng-class="{active:settings.isSet(2)}")
				i.fa.fa-eye
				a(ng-click="settings.setTab(2)") Photo de profil
			.link(ng-class="{active:settings.isSet(3)}")
				i.fa.fa-sign-in
				a(ng-click="settings.setTab(3)") Invitations

.ch-grid_col.--two-thirds_from-tablet
	//- Messages d'erreur
	.alert.alert-info(
		role="alert",
		ng-show="settings.success",
		ng-bind-html="settings.successMessage")
	.card
		.content(ng-show="settings.isSet(1)")
			h4 Paramètres du compte
			form(
				novalidate="",
				name="updateForm",
				ng-submit="updateForm.$valid && settings.updateVolunteer()"
				)
				//- Messages d'erreur
				.alert.alert-danger(
					role="alert",
					ng-show="settings.error",
					ng-bind-html="settings.errorMessage")

				fieldset.form-group.col-sm-6
					label.control-label(for="inputFirstName") Prénom
					.input-group
						span.input-group-addon
							i.fa.fa-user
						input.form-control(
							type="text",
							name="inputFirstName",
							placeholder="Prénom",
							ng-model="settings.user.firstname"
							)
					.help-block(ng-messages="updateForm.inputFirstName.$error", ng-show="updateForm.$submitted && updateForm.inputFirstName.$invalid")
						p(ng-message="required") Ce champs est requis

				fieldset.form-group.col-sm-6
					label.control-label(for="inputLastName") Nom
					.input-group
						span.input-group-addon
							i.fa.fa-user
						input.form-control(
							type="text",
							name="inputLastName",
							placeholder="Nom",
							ng-model="settings.user.lastname"
						)
					.help-block(ng-messages="updateForm.inputLastName.$error", ng-show="updateForm.$submitted && updateForm.inputLastName.$invalid")
						p(ng-message="required") Ce champs est requis
				.clearfix

				fieldset.form-group.col-sm-6
					label.control-label(for="inputMail") Adresse e-mail
					.input-group
						span.input-group-addon.input-mail
							i.fa.fa-envelope
						input.form-control(
							type="email",
							name="inputMail",
							placeholder="Adresse e-mail",
							ng-model="settings.user.mail",
							required=""
						)
					.help-block(ng-messages="updateForm.inputMail.$error", ng-show="updateForm.$submitted && updateForm.inputMail.$invalid")
						p(ng-message="required") Ce champs est requis
				.clearfix

				fieldset.form-group.col-sm-6
					label(for="inputBirthday") Date de naissance
					.input-group
						span.input-group-btn
							button.btn.btn-default(
							type="button",
							ng-click="settings.openBirthdate()"
							)
								i.fa.fa-calendar
						input.form-control(
							type="text",
							ng-model="settings.user.birthday",
							uib-datepicker-popup="dd/MM/yyyy",
							is-open="settings.popupBirthdate.opened",
							datepickerOptions="dateOptions",
							close-text="Fermer"
						)
				.clearfix

				fieldset.form-group.col-sm-6
					label.control-label(for="inputPassword") Mot de passe
					.input-group
						span.input-group-addon
							i.fa.fa-lock
						input.form-control(
							type="password",
							name="inputPassword",
							required="",
							ng-model="settings.password"
						)
					.help-block(ng-messages="updateForm.inputPassword.$error", ng-show="updateForm.$submitted && updateForm.inputPassword.$invalid")
						p(ng-message="required") Ce champs est requis

				fieldset.form-group.col-sm-6
					label.control-label(for="inputConfirm") Confirmation
					.input-group
						span.input-group-addon
							i.fa.fa-lock
						input.form-control(
							type="password",
							name="inputConfirm",
							required="",
							ng-model="settings.confirm"
							compare-to="settings.password"
						)
					.help-block(
						ng-messages="updateForm.inputConfirm.$error",
						ng-show="(updateForm.$submitted || updateForm.inputConfirm.$touched) && updateForm.inputConfirm.$invalid"
					)
						p(ng-message="required") Ce champs est requis
						p(ng-message="compareTo") Les mots de passe ne correspondent pas
				.clearfix
				.pull-right
					button#buttonSave.btn.btn-primary(type="submit") Enregistrer

		.content(ng-show="settings.isSet(2)")
			h4 Photo de profil
			div(ng-show="!settings.changePicture")
				.alert.alert-info Votre photo de profil est visible par tous les utilisateurs. Cliquez sur le bouton pour la changer.
				.col-sm-9
					img(ng-src="{{settings.user.picture}}", alt="{{settings.user.firstname}} {{settings.user.lastname}}")
				.col-sm-3
					button.btn.btn-primary(ng-click="settings.changePicture = true") Changer la photo
			div(ng-show="settings.changePicture")
				.progress(ng-show="settings.picture.progress >= 0")
					div(style="width:{{settings.picture.progress}}%", ng-bind="settings.picture.progress + '%'")
				.col-sm-9
					form(novalidate="", name="pictureForm")
					fieldset.form-group
						input(
							type="file",
							ng-model="settings.picture",
							base-sixty-four-input="",
							name="uploadPicture",
							required="",
							accept="image/*"
						)
				.col-sm-3
					button#buttonPicture.btn.btn-primary(ng-click="settings.updatePicture()") Enregistrer
					button#buttonCancel.btn.btn-danger(ng-click="settings.picture = null; settings.changePicture = false", ng-show="settings.picture") Annuler
		.content(ng-show="settings.isSet(3)")
			h4 Gestion des invitations
			section
				.invite(ng-repeat="notif in settings.notifs", ng-if="settings.notifs.length")

					//- Invitation dans une asso
					.invite--asso(ng-if="notif.notif_type == 'InviteMember'")
						.invite--text
							.invite--from
								a(ui-sref="profil.home({id:{{notif.sender_id}}})").
									#[img(ng-src="http://api.caritathelp.me{{notif.thumb_path}}")]
									{{notif.sender_name}}
							.invite--description vous a invité à rejoindre l'association
							.invite--to
								a(ui-sref="association.home({id:{{notif.assoc_id}}})").
									#[img(ng-src="http://api.caritathelp.me{{notif.thumb_path}}")]
									{{notif.assoc_name}}
						.invite--actions
							button.btn.btn-success(ng-click="settings.answerAsso(notif.id, true, $index)")
								i.fa.fa-check
							button.btn.btn-danger(ng-click="settings.answerAsso(notif.id, false, $index)")
								i.fa.fa-times

					//- Invitation dans un event
					.invite--event(ng-if="notif.notif_type == 'InviteGuest'")
						.invite--text
							.invite--from
								a(ui-sref="profil.home({id:{{notif.sender_id}}})").
									#[img(ng-src="http://api.caritathelp.me{{notif.thumb_path}}")]
									{{notif.sender_name}}
							.invite--description vous a invité à participer à l'évènement
							.invite--to
								a(ui-sref="event.home({id:{{notif.event_id}}})").
									#[img(ng-src="http://api.caritathelp.me{{notif.thumb_path}}")]
									{{notif.event_name}}
						.invite--actions
							button.btn.btn-success(ng-click="settings.answerEvent(notif.id, true, $index)")
								i.fa.fa-check
							button.btn.btn-danger(ng-click="settings.answerEvent(notif.id, false, $index)")
								i.fa.fa-times

					//- Invitation d'ami
					.invite--friend(ng-if="notif.notif_type == 'AddFriend'")
						.invite--text
							.invite--from
								a(ui-sref="profil.home({id:{{notif.sender_id}}})").
									#[img(ng-src="http://api.caritathelp.me{{notif.thumb_path}}")]
									{{notif.sender_name}}
							.invite--description vous a ajouté à ses amis
						.invite--actions
							button.btn.btn-success(ng-click="settings.answerFriend(notif.id, true, $index)")
								i.fa.fa-check
							button.btn.btn-danger(ng-click="settings.answerFriend(notif.id, false, $index)")
								i.fa.fa-times


				//- Empty
				.alert.alert-info(ng-if="!settings.notifs.length") Vous n'avez pas d'invitations récentes
