.ch-grid_col.--one-third_from-tablet
	.card.ch-sidenav
		h3.ch-sidenav_title.ch-text.--kilo.--bold Paramètres
		a.ch-sidenav_link(ng-class="{active:settings.isSet(1)}", ng-click="settings.setTab(1)").
			#[i.fa.fa-home]
			General
		a.ch-sidenav_link(ng-class="{active:settings.isSet(2)}", ng-click="settings.setTab(2)").
			#[i.fa.fa-eye]
			Photo de profil
		a.ch-sidenav_link(ng-class="{active:settings.isSet(3)}", ng-click="settings.setTab(3)").
			#[i.fa.fa-users]
			Participants
		a.ch-sidenav_link(ng-class="{active:settings.isSet(4)}", ng-click="settings.setTab(4)").
			#[i.fa.fa-times]
			Supprimer

.ch-grid_col.--two-thirds_from-tablet
	//- Messages d'erreur
	.alert.alert-info(
		role="alert",
		ng-show="settings.success",
		ng-bind-html="settings.successMessage")

		//- Paramètres généraux
	.card(ng-show="settings.isSet(1)")
		h2.ch-text.--mega Paramètres de l'évènement
		form.ch-form(
			novalidate="",
			name="updateForm",
			ng-submit="updateForm.$valid && settings.updateEvent()"
			)
			//- Messages d'erreur
			.alert.alert-danger(
				role="alert",
				ng-show="settings.error",
				ng-bind-html="settings.errorMessage")

			fieldset.ch-form_row
				label.ch-form_label(for="inputTitle") Titre
				input.ch-form_text(
					type="text",
					name="inputTitle",
					placeholder="Titre",
					ng-model="settings.event.title"
					)

			fieldset.ch-form_row
				label.ch-form_label(for="inputDescription") Description
				textarea.ch-form_text(
					name="inputDescription",
					placeholder="Description",
					ng-model="settings.event.description",
					)

			fieldset.ch-form_row
				label.ch-form_label(for="inputLocation") Location
				input.ch-form_text(
					type="text",
					name="inputLocation",
					placeholder="Location",
					ng-model="settings.event.place"
					)

			fieldset.ch-form_row
				label(for="inputBeginEvent") Début
				.ch-form_input-group.--button-input
					input.ch-form_text.--button-input(
					type="text",
					ng-model="settings.event.begin",
					uib-datepicker-popup="dd/MM/yyyy",
					is-open="create.popupBegin.opened",
					datepickerOptions="dateOptions",
					close-text="Fermer"
					)
					button.ch-btn.--button-input.--tertiary(
						type="button",
						ng-click="create.openBegin()"
						)
						i.fa.fa-calendar

			fieldset.ch-form_row
				label(for="inputEndEvent") Fin
				.ch-form_input-group.--button-input
					input.ch-form_text.--button-input(
						type="text",
						ng-model="settings.event.end",
						uib-datepicker-popup="dd/MM/yyyy",
						is-open="create.popupEnd.opened",
						datepickerOptions="dateOptions",
						close-text="Fermer"
						)
					button.ch-btn.--button-input.--tertiary(
						type="button",
						ng-click="create.openEnd()"
						)
						i.fa.fa-calendar

			.pull-right
				button#buttonSave.ch-btn(type="submit") Enregistrer

	//- Photo de profil
	.card(ng-show="settings.isSet(2)")
		h2.ch-text.--mega Photo de profil
		div(ng-show="!settings.changePicture")
			.alert.alert-info Cette photo est visible par tous les utilisateurs. Cliquez sur le bouton pour la changer.
			img(ng-src="http://api.caritathelp.me{{settings.event.thumb_path}}", alt="{{settings.event.title}}")
			button.ch-btn(ng-click="settings.changePicture = true") Changer la photo
		div(ng-show="settings.changePicture")
			.progress(ng-show="settings.picture.progress >= 0")
				div(style="width:{{settings.picture.progress}}%", ng-bind="settings.picture.progress + '%'")
			form.ch-form(novalidate="", name="pictureForm")
				fieldset.ch-form_row
					input(
						type="file",
						ng-model="settings.picture",
						base-sixty-four-input="",
						name="uploadPicture",
						required="",
						accept="image/*"
						)
			button#buttonPicture.ch-btn(ng-click="settings.updatePicture()") Enregistrer
			button#buttonCancel.ch-btn.--fail(ng-click="settings.picture = null; settings.changePicture = false", ng-show="settings.picture") Annuler

	//- Gestion membres
	.card(ng-show="settings.isSet(3)")
		h2.ch-text.--mega Gestion des participants
		.card
			h6 Demandes en attente
			table.table.table-striped.table-max.event--table(ng-if="settings.event.waiting.length")
				thead
					tr
						th Nom
						th Action
				tbody
					tr(ng-repeat="waiter in settings.event.waiting")
						td
							a(ui-sref="profil.home({id:{{waiter.id}}})").
								#[img(ng-src="http://api.caritathelp.me{{waiter.thumb_path}}")]
								{{waiter.firstname}} {{waiter.lastname}}
						td
							btn.btn.btn-xs.btn-success(title="Accepter la demande", ng-click="settings.replyDemand(waiter.notif_id, true, $index)")
								i.fa.fa-check
							btn.btn.btn-xs.btn-danger(title="Refuser la demande", ng-click="settings.replyDemand(waiter.notif_id, false, $index)")
								i.fa.fa-times
			.alert.alert-info(ng-if="!settings.event.waiting.length") Aucune demande en attente
		.card
			h6 Invitations en cours
			table.table.table-striped.event--table.table-max(ng-if="settings.event.invited.length")
				tr(ng-repeat="invite in settings.event.invited")
					td
						a(ui-sref="profil.home({id:{{invite.id}}})").
							#[img(ng-src="http://api.caritathelp.me{{invite.thumb_path}}")]
							{{invite.firstname}} {{invite.lastname}}
			.alert.alert-info(ng-if="!settings.event.invited.length") Aucune invitation en attente

		.card
			h6 Participants
			table.table.table-striped.table-max.event--table
				thead
					tr
						th Nom
						th Status
						th Action
				tbody
					tr(ng-repeat="guest in settings.event.guests")
						td
							a(ui-sref="profil.home({id:{{guest.id}}})").
								#[img(ng-src="http://api.caritathelp.me{{guest.thumb_path}}")]
								{{guest.firstname}} {{guest.lastname}}
						td.col-status {{guest.rights}}
						td
							button.btn.btn-xs.btn-warning(title="Rétrograder l'invité", ng-click="settings.demoteUser(guest.id)", ng-if="guest.rights == 'admin'")
								i.fa.fa-thumbs-down
							button.btn.btn-xs.btn-info(title="Promouvoir en admin", ng-click="settings.promoteUser(guest.id)", ng-if="guest.rights == 'member'")
								i.fa.fa-thumbs-up
							button.btn.btn-xs.btn-danger(title="Expulser l'invité", ng-click="settings.kickUser(guest.id)", ng-if="guest.rights != 'host'")
								i.fa.fa-times

	//- Suppression event
	.card(ng-show="settings.isSet(4)")
		h2.ch-text.--mega Suppression de l'évènement
		.alert.alert-danger.
			#[i.fa.fa-exclamation-triangle]
			Cette action est irréversible !
		button.ch-btn.--fail(ng-click="settings.deleteEvent()") Supprimer l'évènement
