nav.ch-navbar(ng-if="nav.isConnected()")
	.ch-navbar_container
		.ch-navbar_logo
			a(ui-sref="home")
				img(src="img/logo.png", alt="CaritatHelp")
		.ch-navbar_menu
			a.ch-navbar_item(ui-sref="home", ui-sref-active="active")
				span Accueil
				i.fa.fa-home
			a.ch-navbar_item(ui-sref="profil.home({id:{{nav.user.id}}})", ui-sref-active="{'active':'profil'}")
				span Profil
				i.fa.fa-user
			a.ch-navbar_item(ui-sref="associations", ui-sref-active="active")
				span Associations
				i.fa.fa-truck
			a.ch-navbar_item(ui-sref="inbox")
				span Messagerie
				i.fa.fa-envelope
			a.ch-navbar_item(ng-click="nav.logout()", href="#")
				span Logout
				i.fa.fa-power-off
		.ch-navbar_search
			a.ch-navbar_item(href="#")
				i.fa.fa-search
			form.ch-form(
				role="search",
				name="searchForm",
				ng-submit="nav.search()"
				)
				input.ch-form_text(
					type="text",
					placeholder="Rechercher",
					ng-model="nav.research"
				)
		.ch-navbar_user
			a.ch-navbar_item(ng-click="nav.openNotifications()")
				i.fa.fa-bell(ng-class="{'fa-spin': nav.new}")
			a(ui-sref="home")
				img.ch-avatar(ng-src="{{nav.user.picture}}", alt="{{nav.user.firstname}} {{nav.user.lastname}}")
	pre {{ nav.test }}
