nav.navbar(ng-if="nav.isConnected()")
	.container
		.navbar--logo
			button.toggle
				.sr-only Toggle navigation
				span-bar
				span-bar
				span-bar
			a(href="#/")
				img(src="img/logo.png", alt="CaritatHelp")
		.navbar--menu
			a.navbar--item(ui-sref="home", ui-sref-active="active")
				span Accueil
				i.fa.fa-home
			a.navbar--item(ui-sref="profil.home", ui-sref-active="active")
				span Profil
				i.fa.fa-user
			a.navbar--item(ui-sref="associations", ui-sref-active="active")
				span Associations
				i.fa.fa-coffee
			a.navbar--item(href="#msgModal", data-toggle="modal")
				span Messagerie
				i.fa.fa-envelope
			a.navbar--item(ng-click="nav.logout()")
				span Logout
				i.fa.fa-power-off
		.navbar--right
			.search-box
			a.navbar--item.hidden-lg-up(href="#")
				i.fa.fa-search
			form.hidden-md-down(
				role="search",
				name="searchForm",
				ng-submit="nav.search()"
				)
				input.form-control(
					type="text",
					placeholder="Rechercher",
					ng-model="nav.research"
				)
			a.navbar--item(href="#notifModal", data-toggle="modal")
				i.fa.fa-bell
			a.navbar--picture(ui-sref="home")
				img(ng-src="{{nav.user.picture}}", alt="{{nav.user.firstname}} {{nav.user.lastname}}")

.modal.fade#notifModal(tabindex="-1", role="dialog")
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					span(aria-hidden="true")
						i.fa.fa-times
				h4.modal-title Notifications
			.modal-header
				<a href="#/user/1">Test Name</a> vous a ajouté en ami.
			.modal-header
				<a href="#/user/1">Test Name</a> vous a invité dans l'associations <a href="#/asso/2">Les Restos de l'Estomac</a>.
			.modal-header(ng-hide="nav.errorNotif", ng-repeat="notif in nav.notifications.add_friend")
				<a href="#/user/{{notif.id}}">{{notif.firstname}} {{notif.lastname}}</a> vous a ajouté en ami.
			.modal-header
				<a href="#/user/1">Test Name</a> vous a invité à l'évenement <a href="#/event/2">Aidage de gens</a>.
			.modal-header(ng-show="nav.errorNotif") {{nav.errorNotif}}
			.modal-footer
				button.btn.btn-primary(type="button") Close
