.ch-grid
	.ch-grid_col.--one-third_from-tablet
		.card.ch-sidenav
			h3.ch-sidenav_title.ch-text.--kilo.--bold Paramètres
			a.ch-sidenav_link(ui-sref="association.settings.general", ui-sref-active="active").
				#[i.fa.fa-home]
				General
			a.ch-sidenav_link(ui-sref="association.settings.shelters", ui-sref-active="active").
				#[i.fa.fa-hotel]
				Gestion des centres
			a.ch-sidenav_link(ui-sref="association.settings.picture", ui-sref-active="active").
				#[i.fa.fa-eye]
				Photo de profil
			a.ch-sidenav_link(ui-sref="association.settings.members", ui-sref-active="active").
				#[i.fa.fa-users]
				Membres
			a.ch-sidenav_link(ui-sref="association.settings.delete", ui-sref-active="active").
				#[i.fa.fa-times]
				Supprimer

	.ch-grid_col.--two-thirds_from-tablet
		//- Messages de succes
		.alert.alert-success(
			role="alert",
			ng-show="settings.success",
			ng-bind-html="settings.success")
		//- Messages d'erreur
		.alert.alert-danger(
			role="alert",
			ng-show="settings.error",
			ng-bind-html="settings.error")
		ui-view
