.timeline--actu
	.actu--main(data-id="{{vmnews.newsId}}")
		.actu--aside
			a.actu--picture(ng-href="{{vmnews.link}}")
				img(ng-src="http://api.caritathelp.me{{vmnews.actu.thumb_path}}", alt="{{vmnews.actu.sender_name}}")

		.actu--body
			header.infos
				a.name(ng-href="{{vmnews.link}}") {{vmnews.actu.sender_name}}
				.time {{vmnews.actu.created_at | date: "dd/MM à HH:mm"}}
			.actu--text {{vmnews.actu.content}}
			.actu--comments(ng-repeat="com in vmnews.comments | orderBy:'+created_at'")
				comment(com="com")
	form.actu--reply#postComment(
		novalidate="",
		name="postComment",
		ng-submit="vmnews.postComment()"
		)
		a.reply--picture(href="#/user/{{vmnews.current.id}}")
			img(ng-src="{{vmnews.current.picture}}", alt="{{vmnews.current.firstname}} {{vmnews.current.lastname}}")
		.input-group
			input.form-control(
				type="text",
				placeholder="Poster un commentaire",
				ng-model="vmnews.newComment")
			.input-group-btn
				button.btn
					i.fa.fa-play
