.timeline(ng-show="timeline.loaded")
	.card
		form.ch-form#postNews(
			novalidate="",
			name="postNews",
			ng-submit="timeline.postNews()"
			)
			.ch-form_input-group.--button-input
				input.ch-form_text.--button-input(
					type="text",
					placeholder="Publier un message",
					ng-model="timeline.newNews",
					required
				)
				button.ch-btn.--button-input(type="submit")
					i.fa.fa-play
	section.news(ng-repeat="actu in timeline.news")
		news(news-id="actu.id")
.timeline--loader(ng-show="!timeline.loaded")
	.fa.fa-spin.fa-refresh
	.loader--info Chargement du fil d'actualité
