- var months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"];
.card.register
	h1.connect--header Inscription
	form.ch-form#registerForm(
		novalidate="",
		name="registerForm",
		ng-submit="registerForm.$valid && register.register()"
		)
		//- Messages d'erreur
		.alert.alert-danger(
			role="alert",
			ng-show="register.error",
			ng-bind-html="register.errorMessage")

		//- UserName
		fieldset#userFirstName.ch-form_row(
			ng-class="{'has-error': (registerForm.$submitted || registerForm.inputFirstName.$touched) && registerForm.inputFirstName.$invalid}"
			)
			label.ch-form_label(for="inputFirstName") Prénom
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-user
				input.ch-form_text#inputFirstName(
					type="text",
					name="inputFirstName",
					placeholder="Prénom",
					ng-model="register.firstname",
					ng-minlength="3",
					required=""
				)
			.ch-form_message.--error(ng-messages="registerForm.inputFirstName.$error" ng-show="(registerForm.$submitted || registerForm.inputFirstName.$touched) && registerForm.inputFirstName.$invalid")
				p(ng-message="minlength") Minimum 3 caractères
				p(ng-message="required") Ce champs est requis

		//- Lastname
		fieldset#userLastName.ch-form_row(
			ng-class="{'has-error': (registerForm.$submitted || registerForm.inputLastName.$touched) && registerForm.inputLastName.$invalid }")
			label.ch-form_label(for="inputLastName") Nom
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-user
				input.ch-form_text#inputLastName(
					type="text",
					name="inputLastName",
					placeholder="Nom",
					ng-model="register.lastname",
					ng-minlength="3",
					required=""
				)
			.ch-form_message.--error(ng-messages="registerForm.inputLastName.$error" ng-show="(registerForm.$submitted || registerForm.inputLastName.$touched) && registerForm.inputLastName.$invalid")
				p(ng-message="minlength") Minimum 3 caractères
				p(ng-message="required") Ce champs est requis

		//- Adresse email
		fieldset#userMail.ch-form_row(
			ng-class="{'has-error': (registerForm.$submitted || registerForm.inputMail.$touched) && registerForm.inputMail.$invalid }")
			label.ch-form_label(for="inputMail") Adresse e-mail
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-envelope
				input#inputMail.ch-form_text(
					type="email",
					name="inputMail",
					placeholder="Adresse e-mail",
					ng-model="register.mail",
					required=""
				)
			.ch-form_message.--error(ng-messages="registerForm.inputMail.$error" ng-show="(registerForm.$submitted || registerForm.inputMail.$touched) && registerForm.inputMail.$invalid")
				p(ng-message="required") Ce champs est requis
				p(ng-message="email") L'adresse entrée n'est pas valide

		//- Mot  de passe
		fieldset#userPassword.ch-form_row(
			ng-class="{'has-error': (registerForm.$submitted || registerForm.inputPassword.$touched) && registerForm.inputPassword.$invalid }")
			label.ch-form_label(for="inputPassword") Mot de passe
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-lock
				input#inputPassword.ch-form_text(
					type="password",
					name="inputPassword",
					placeholder="Mot de passe",
					ng-model="register.password",
					ng-minlength="8",
					required
				)
			.ch-form_message.--error(ng-messages="registerForm.inputPassword.$error", ng-show="(registerForm.$submitted || registerForm.inputPassword.$touched) && registerForm.inputPassword.$invalid", ng-messages-multiple="")
				p(ng-message="required") Ce champs est requis
				p(ng-message="minlength", multiple="") Le mot de passe doit contenir 8 caractères
				p(ng-message="pattern", multiple="") Le mot de passe doit contenir au moins un chiffre ET une lettre

		fieldset#userConfirm.ch-form_row(
			ng-class="{'has-error': (registerForm.$submitted || registerForm.inputConfirmPassword.$touched) && registerForm.inputConfirmPassword.$invalid }")
			label.ch-form_label(for="inputConfirmPassword") Confirmation
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-lock
				input.ch-form_text#inputConfirmPassword(
					type="password",
					name="inputConfirmPassword",
					placeholder="Confirmation",
					ng-model="register.confirmPassword",
					required,
					compare-to="register.password"
				)
			.ch-form_message.--error(ng-messages="registerForm.inputConfirmPassword.$error", ng-show="(registerForm.$submitted || registerForm.inputConfirmPassword.$touched) && registerForm.inputConfirmPassword.$invalid")
				p(ng-message="required") Ce champs est requis
				p(ng-message="compareTo") Les mots de passe ne correspondent pas

		//- Birthday
		fieldset#userBirthdate.ch-form_row(
			ng-class="{'has-error': register.checkBirthdate(registerForm)}")
			label.ch-form_label(for="inputBirthdate") Date de naissance
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-calendar
				select#selectDay.ch-form_select(name="selectDay", ng-model="register.day", required="")
					option(disabled="", selected="", hidden="", value="") Jour
					- var i = 1
					while i < 32
						option(value="#{i}")= i++
				select#selectMonth.ch-form_select(name="selectMonth", ng-model="register.month", required="")
					option(disabled="", selected="", hidden="", value="") Mois
					each month, i in months
						option(value="#{(i+1)}") #{month}
				select#selectYear.ch-form_select(name="selectYear", ng-model="register.year", required="")
					option(disabled="", selected="", hidden="", value="") Année
					- var i = 2015
					while i > 1904
							option(value="#{i}")= i--
			.ch-form_message.--error(ng-show="register.checkBirthdate(registerForm)")
				p Ce champs est requis

		//- Sexe
		fieldset#userGender.ch-form_row
			label.ch-form_label(for="inputGender") Sexe
			.ch-form_button#inputGenderMan
				input.ch-form_button-input(type="radio", name="radioGender", id="radioMan", value="homme", ng-model="register.gender", required="")
				label.ch-form_button-element(for="radioMan") Homme
			.ch-form_button#inputGenderWoman
				input.ch-form_button-input(type="radio", name="radioGender", id="radioWoman", value="femme", ng-model="register.gender")
				label.ch-form_button-element(for="radioWoman") Femme

		.ch-form_row
			a(ui-sref="login") Déjà un compte ?
			button.ch-btn.pull-right(type="submit", ng-disabled="register.connecting", disabled).
				#[i.fa.fa-spin.fa-spinner(ng-show="register.connecting")]
				S'enregistrer
