.ch-profil
	.ch-profil_cover
		.ch-profil_background
			img.bscard-bkimg(ng-src="{{vm.apiurl + vm.shelter.thumb_path}}", alt="{{vm.shelter.name}}")
		.ch-profil_picture
			img(ng-src="{{vm.apiurl + vm.shelter.thumb_path}}", alt="{{vm.shelter.name}}")
		.ch-profil_name {{vm.shelter.name}}

.tabs
	.profil--loader(ng-show="!vm.loaded")
		i.fa.fa-spin.fa-refresh
		.loader--info Chargement du profil
	.ch-grid(ng-show="vm.loaded")
		.ch-grid_col.--one-third_from-tablet
			.actions--user
				.action(ng-if="vm.asso.rights == 'host' || vm.asso.rights == 'admin' || vm.asso.rights == 'owner'", ng-show="!vm.edit")
					a(ng-click="vm.toggleEdition()").
						#[i.fa.fa-pencil]
						Editer ce centre
				.action(ng-if="vm.asso.rights == 'host' || vm.asso.rights == 'admin' || vm.asso.rights == 'owner'", ng-show="vm.edit")
					a(ng-click="vm.toggleEdition()").
						#[i.fa.fa-eraser]
						Annuler l'édition
			shelters-list(asso-id="vm.shelter.assoc_id")

		//- Affichage normal
		.ch-grid_col.--two-thirds_from-tablet(ng-show="!vm.edit")
			//- Messages d'erreur
			.alert.alert-info(
				role="alert",
				ng-show="vm.success",
				ng-bind-html="vm.successMessage")
			//- Messages d'erreur
			.alert.alert-danger(
				role="alert",
				ng-show="vm.error",
				ng-bind-html="vm.errorMessage")

			.card
				h2.ch-text.--mega Informations
				hr
				br
				div
					.ch-text.--bold.--inline Adresse :
					.ch-text.--inline {{ vm.shelter.address }}
				div
					.ch-text.--bold.--inline Ville :
					.ch-text.--inline {{ vm.shelter.city }}
				div
					.ch-text.--bold.--inline Code postal :
					.ch-text.--inline {{ vm.shelter.zipcode }}
				div
					.ch-text.--bold.--inline Nombre de places :
					.ch-text.--inline {{ vm.shelter.total_places }}
				div
					.ch-text.--bold.--inline Places disponibles :
					.ch-text.--inline {{ vm.shelter.free_places }}
				div(ng-if="vm.shelter.description")
					.ch-text.--bold.--inline Description :
					.ch-text.--inline {{ vm.shelter.description }}
				br
			.card(ng-if="vm.shelter.phone || vm.shelter.mail")
				h2.ch-text.--kilo Contact
				hr
				br
				div(ng-if="vm.shelter.phone")
					.ch-text.--bold.--inline Téléphone :
					.ch-text.--inline {{ vm.shelter.phone }}
				div(ng-if="vm.shelter.mail")
					.ch-text.--bold.--inline Email :
					.ch-text.--inline {{ vm.shelter.mail }}
			.card(ng-if="vm.asso")
				h2.ch-text.--kilo.
					Géré par l'association
					#[a(ui-sref="association.home({id:vm.shelter.assoc_id})") {{ vm.asso.name }}]

		//- Edition
		.ch-grid_col.--two-thirds_from-tablet(ng-show="vm.edit")
			//- Messages d'erreur
			.alert.alert-info(
				role="alert",
				ng-show="vm.success",
				ng-bind-html="vm.successMessage")
			//- Messages d'erreur
			.alert.alert-danger(
				role="alert",
				ng-show="vm.error",
				ng-bind-html="vm.errorMessage")

			.card
				h2.ch-text.--mega Paramètres du centre
				form.ch-form(
					novalidate="",
					name="editShelter",
					ng-submit="editShelter.$valid && vm.updateShelter()"
					)

					fieldset.ch-form_row
						label.ch-form_label(for="inputName") Nom
						input.ch-form_text(
							type="text",
							name="inputName",
							placeholder="Nom",
							ng-model="vm.shelter.name"
							)

					fieldset.ch-form_row
						label.ch-form_label(for="inputAddress") Addresse
						input.ch-form_text(
							type="text",
							name="inputAddress",
							placeholder="Addresse",
							ng-model="vm.shelter.address"
							)

					fieldset.ch-form_row
						label.ch-form_label(for="inputCity") Ville
						input.ch-form_text(
							type="text",
							name="inputCity",
							placeholder="Ville",
							ng-model="vm.shelter.city"
							)

					fieldset.ch-form_row
						label.ch-form_label(for="inputZipcode") Code Postal
						input.ch-form_text(
							type="text",
							name="inputZipcode",
							placeholder="Nom",
							ng-model="vm.shelter.zipcode"
							)

					fieldset.ch-form_row
						label.ch-form_label(for="inputTotal") Places disponibles
						input.ch-form_text(
							type="text",
							name="inputTotal",
							placeholder="Places disponibles",
							ng-model="vm.shelter.total_places"
							)

					fieldset.ch-form_row
						label.ch-form_label(for="inputOccupied") Places occupées
						input.ch-form_text(
							type="text",
							name="inputOccupied",
							placeholder="Places occupées",
							ng-model="vm.shelter.free_places"
							)

					fieldset.ch-form_row
						label.ch-form_label(for="inputDescription") Description
						textarea.ch-form_text(
							id="inputDescription",
							placeholder="Description",
							ng-model="vm.shelter.description"
							)

					.pull-right
						button.ch-btn(type="submit", ng-disabled="vm.updating").
							#[i.fa.fa-spin.fa-spinner(ng-show="vm.updating")]
							Enregistrer
