.content-wrapper
	.container
		.row
			.col-sm-4
				.card.chat--list
					header.title
						h5 Conversations
					button.btn.btn-primary.btn-lg(ng-click="inbox.createChatroom()").
						#[i.fa.fa-pencil-square-o]
						Nouvelle conversation
					a.card.conversation(ng-repeat="conv in inbox.chatrooms", ng-click="inbox.setChatroom(conv)", ng-class="{active: inbox.active.id == conv.id}")
						header.conversation--name(ng-if="conv.name") {{conv.name}}
						header.conversation--name(ng-if="!conv.name") Conversation sans nom
						section.conversation--infos
							.conversation--members {{conv.number_volunteers}} participants
							.conversation--messages {{conv.number_messages}} messages

			.col-sm-8
				.chatroom.card(ng-show="inbox.active")

					//- Haut de la carte
					.chatroom--header
						header.title(ng-if="inbox.active.name") {{inbox.active.name}}
						header.title(ng-if="!inbox.active.name") Conversation sans nom
						.chatroom--actions
							button.btn.btn-info(ng-click="inbox.inviteChatroom()")
								i.fa.fa-user-plus
							button.btn.btn-danger(ng-click="inbox.leaveChatroom()")
								i.fa.fa-sign-out

					.chatroom--sender.card
						form(
							novalidate="",
							name="sendMessage",
							ng-submit="inbox.sendMessage()"
						)
							fieldset.form-group
								.input-group
									input.form-control(
										type="text",
										id="inputMessage",
										placeholder="Message",
										ng-model="inbox.message"
									)
									.input-group-btn
										button.btn(type="submit")
											i.fa.fa-reply

					//- Affichage des messages
					.chatroom--messages.card
						.message--wrapper(ng-repeat="message in inbox.messages | orderBy: '-created_at'", ng-class="{'message--sent':message.volunteer_id == inbox.current.id}")
							.message
								.message--aside
									img(ng-src="{{inbox.current.picture}}")
								.message--body
									.message--content.card {{message.content}}
									.message--footer {{message.volunteer_id}} {{message.created_at| date: "le dd MMMM à HH:mm"}}
						.alert.alert-warning(ng-show="inbox.active && !inbox.messages.length") Il n'y a pas encore de messages dans cette conversation
				.alert.alert-info(ng-show="!inbox.messages.length && !inbox.active") Sélectionnez une conversation dans la barre latérale pour l'afficher ici, ou bien commencez en une nouvelle

script(type="text/ng-template", id="inviteFriendsModal.html")
	.modal--friends
		.modal-header
			h3.modal-title Créer une conversation
		.modal-body
			section.friend(ng-repeat="friend in friends")
				a(ui-sref="profil.home({id:friend.id})")
					img(ng-src="http://api.caritathelp.me{{friend.thumb_path}}", alt="{{friend.firstname}} {{friend.lastname}}")
				a(ui-sref="profil.home({id:friend.id})").friend--name {{friend.firstname}} {{friend.lastname}}
				button.btn.btn-primary(ng-click="addFriend(friend.id)", id="invite-{{friend.id}}") Inviter
		.modal-footer
			button.pull-right.btn.btn-success(ng-click="confirmCreation()") Valider
			button.pull-right.btn.btn-danger(ng-click="dismiss()") Fermer
