extends ../layout/with-cover

block jumbotron
	.coverstatebackground(style="background-image:url(img/cover/skyline.jpg)")
	.cover--infos
		//- Image de profil (défaut si l'user n'en a pas)
		img.picture(ng-if="vm.user.picture", ng-src="{{vm.user.picture}}", alt="{{vm.user.firstname}} {{vm.user.lastname}}")
		h1.name {{vm.user.firstname}} {{vm.user.lastname}}
	nav.cover--navigation
		a(ng-click="vm.setTab(1)"
			ng-class="{active:vm.isSet(1)}") Accueil
		a(ng-click="vm.setTab(4)"
			ng-class="{active:vm.isSet(4)}") Amis
		a(ng-click="vm.setTab(2)"
			ng-class="{active:vm.isSet(2)}") Calendrier
		a(
			ng-if="vm.isCurrent",
			ng-click="vm.setTab(3)"
			ng-class="{active:vm.isSet(3)}") Paramètres

block tabs
	.timeline-tab(ng-show="vm.isSet(1)")
		.col-md-4
			user-summary
			user-actions
			friend-list
			asso-list
		.col-md-8
			timeline(tl-type="'volunteer'")
	.friends-tab(ng-show="vm.isSet(4)")
		.col-md-3(ng-repeat="friend in vm.user.friends")
			user-summary(user-id="friend.id")
	.calendar-tab(ng-show="vm.isSet(2)")
		calendar(cal-type="'volunteer'")
	.settings-tab(
		ng-if="vm.isCurrent",
		ng-show="vm.isSet(3)"
	)
		user-settings
