extends ../layout/with-cover

block jumbotron
	.coverstatebackground(style="background-image:url(img/cover/skyline.jpg)")
	.cover--infos
		img.picture(src="img/user3.png", alt="")
		h1.name(ng-if="profil.user") {{profil.user.firstname}} {{profil.user.lastname}}
		h1.name(ng-if="!profil.user") Test test
	nav.cover--navigation
		a(ng-click="profil.setTab(1)"
			ng-class="{active:profil.isSet(1)}") Timeline
		a(ng-click="profil.setTab(4)"
			ng-class="{active:profil.isSet(4)}") Amis
		a(ng-click="profil.setTab(2)"
			ng-class="{active:profil.isSet(2)}") Calendrier
		a(
			ng-if="profil.isCurrent",
			ng-click="profil.setTab(3)"
			ng-class="{active:profil.isSet(3)}") Settings

block tabs
	.timeline-tab(ng-show="profil.isSet(1)")
		.col-md-4
			user-summary
			.action(ng-if="!profil.isCurrent")
				a(ng-click="profil.addFriend()").
					#[i.fa.fa-plus]
					Ajouter en ami
			friend-list
			asso-list
		.col-md-8
			timeline
	.friends-tab(ng-show="profil.isSet(4)")
		.col-md-3(ng-repeat="friend in profil.user.friends")
			user-summary(user-id="friend.id")
	.calendar-tab(ng-show="profil.isSet(2)")
			include ../tabs/user-calendar
	.settings-tab(
		ng-if="profil.isCurrent",
		ng-show="profil.isSet(3)",
		ng-controller="settingsController as settings"
	)
			include ../tabs/user-settings
