extends ../layout/with-cover

block jumbotron
	.background(style="background-image:url(img/cover/skyline.jpg)")
	.infos
		img.img-circle.picture(src="img/robert.png", alt="")
		h3.name {{nav.user.firstname}} {{nav.user.lastname}} Bobby Pony
		p Lorem Ipsum sit dolor tu quoque mi fili
	nav.navigation
		a(ng-click="profil.setTab(1)"
			ng-class="{active:profil.isSet(1)}") Timeline
		a(ng-click="profil.setTab(2)"
			ng-class="{active:profil.isSet(2)}") Calendrier
		a(ng-click="profil.setTab(3)"
			ng-class="{active:profil.isSet(3)}") Settings

block tabs
	.timeline-tab.card.timeline.col-md-12(
		ng-show="profil.isSet(1)")
		include ../module/timeline.jade
	.calendar-tab.card.col-md-12(
		ng-show="profil.isSet(2)")
		table
			thead
				tr
					each val in ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']
						th.day.name.card= val
			tbody
				- var i=0
				while i < 35
					if (i % 7 == 0)
						tr
					td.day.card(class=((i==0||i>30) ? 'disabled':''))=i++
	.settings-tab.card.col-md-12(
		ng-show="profil.isSet(3)",
		ng-controller="settingsController as settings")
		.col-md-2.sidebar
			ul
				li.active
					a(ng-click="settings.setTab(1)") General
				li
					a(ng-click="settings.setTab(2)") Security
		.col-md-10.body
			h5 Paramètres du compte
