extends ../layout/with-cover

block jumbotron
	.background(style="background-image:url(img/cover/skyline.jpg)")
	.infos
		img.img-circle.picture(src="img/robert.png", alt="")
		h3.name(ng-if="nav.user") {{profil.displayUser.firstname}} {{profil.displayUser.lastname}}
		h3.name(ng-if="!nav.user") Test test
	nav.navigation
		a(ng-click="profil.setTab(1)"
			ng-class="{active:profil.isSet(1)}") Timeline
		a(ng-click="profil.setTab(4)"
			ng-class="{active:profil.isSet(4)}") Amis
		a(ng-click="profil.setTab(2)"
			ng-class="{active:profil.isSet(2)}") Calendrier
		a(ng-click="profil.setTab(3)"
			ng-class="{active:profil.isSet(3)}") Settings

block tabs
	.timeline-tab(ng-show="profil.isSet(1)")
		include ../tabs/user-timeline
	.friends-tab(
		ng-show="profil.isSet(4)")
		.col-md-3(ng-repeat="friend in profil.displayUser.friends")
			user-summary(user-id="friend.id")
	.calendar-tab(
		ng-show="profil.isSet(2)")
			include ../tabs/user-calendar
	.settings-tab(
		ng-show="profil.isSet(3)",
		ng-controller="settingsController as settings")
			include ../tabs/user-settings
