extends ../layout/with-cover

block jumbotron
	.background(style="background-image:url(img/cover/fuzeria.jpg)")
	.infos
		img.img-circle.picture(src="img/mlp.jpg", alt="")
		h3.name Association des poneys
	nav.navigation
		a(ng-click="asso.setTab(1)"
			ng-class="{active:asso.isSet(1)}") Timeline
		a(ng-click="asso.setTab(2)"
			ng-class="{active:asso.isSet(2)}") Membres
		a(ng-click="asso.setTab(3)"
			ng-class="{active:asso.isSet(3)}") Evenements

block tabs
	.timeline-tab(
		ng-show="asso.isSet(1)")
		.col-md-4
			include ../module/summary.jade
		.col-md-8
			include ../module/timeline.jade
	.members-tab(
		ng-show="asso.isSet(2)")
		.col-md-3
			include ../module/summary.jade
		.col-md-3
			include ../module/summary.jade
		.col-md-3
			include ../module/summary.jade
		.col-md-3
			include ../module/summary.jade
		.col-md-3
			include ../module/summary.jade
		.col-md-3
			include ../module/summary.jade
	.settings-tab(
		ng-show="asso.isSet(3)")
		.col-md-4
			include ../module/calendar-list
		.col-md-8
			include ../module/calendar-main
