extends ../layout/with-cover

block jumbotron
	.background(style="background-image:url(img/cover/skyline.jpg)")
	.infos
		img.img-circle.picture(src="img/robert.png", alt="")
		h3.name {{nav.user.firstname}} {{nav.user.lastname}} Bobby Pony
	nav.navigation
		a(ng-click="profil.setTab(1)"
			ng-class="{active:profil.isSet(1)}") Timeline
		a(ng-click="profil.setTab(4)"
			ng-class="{active:profil.isSet(4)}") Amis
		a(ng-click="profil.setTab(2)"
			ng-class="{active:profil.isSet(2)}") Calendrier
		a(ng-click="profil.setTab(3)"
			ng-class="{active:profil.isSet(3)}") Settings

block tabs
	.timeline-tab(ng-show="profil.isSet(1)")
		.col-md-4
			include ../module/summary
			include ../module/list-friends
		.col-md-8
			include ../module/timeline
	.friends-tab(ng-show="profil.isSet(4)")
		.col-md-4
			include ../module/summary
		.col-md-4
			include ../module/summary
		.col-md-4
			include ../module/summary
		.col-md-4
			include ../module/summary
	.calendar-tab(ng-show="profil.isSet(2)")
		.col-md-4
			include ../module/calendar-list
		.col-md-8
			include ../module/calendar-main
	.settings-tab(
		ng-show="profil.isSet(3)",
		ng-controller="settingsController as settings")
		.col-md-4
			include ../module/settings-list
		.col-md-8
			include ../module/settings-main
