extends ../layout/with-cover

block jumbotron
	.coverstatebackground(style="background-image:url(img/cover/skyline.jpg)")
	.cover--infos
		//- Image de profil (défaut si l'user n'en a pas)
		img.picture(ng-if="profil.user.picture", src="{{profil.user.picture}}", alt="{{profil.user.firstname}} {{profil.user.lastname}}")
		h1.name {{profil.user.firstname}} {{profil.user.lastname}}
	nav.cover--navigation
		a(ng-click="profil.setTab(1)"
			ng-class="{active:profil.isSet(1)}") Timeline
		a(ng-click="profil.setTab(4)"
			ng-class="{active:profil.isSet(4)}") Amis
		a(ng-click="profil.setTab(2)"
			ng-class="{active:profil.isSet(2)}") Calendrier
		a(
			ng-if="profil.isCurrent",
			ng-click="profil.setTab(3)"
			ng-class="{active:profil.isSet(3)}") Settings

block tabs
	.timeline-tab(ng-show="profil.isSet(1)")
		.col-md-4
			user-summary
			.action(ng-if="!profil.isCurrent && !profil.user.friendship")
				a(ng-click="profil.addFriend()").
					#[i.fa.fa-plus]
					Ajouter en ami
			friend-list
			asso-list
		.col-md-8
			timeline(tl-id="profil.user.id", tl-type="'volunteer'")
	.friends-tab(ng-show="profil.isSet(4)")
		.col-md-3(ng-repeat="friend in profil.user.friends")
			user-summary(user-id="friend.id")
	.calendar-tab(ng-show="profil.isSet(2)")
		calendar(cal-type="'volunteer'", cal-id="profil.user.id")
	.settings-tab(
		ng-if="profil.isCurrent",
		ng-show="profil.isSet(3)",
		ng-controller="settingsController as settings"
	)
			include ../tabs/user-settings
