.card.login
	h1.connect--header Connexion
	form.ch-form#loginForm(
		novalidate="",
		name="loginForm",
		ng-submit="login.login()"
		)
		.alert.alert-danger(role="alert", ng-show="login.error") {{login.errorMessage}}
		fieldset.ch-form_row#loginMail
			label.ch-form_label(for="inputMail") Adresse e-mail
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-envelope
				input.ch-form_text#inputMail(
					type="email",
					name="inputMail",
					placeholder="Adresse e-mail",
					ng-model="login.mail",
					required
					)
		fieldset.ch-form_row#loginPassword
			label.ch-form_label(for="inputPassword") Mot de passe
			.ch-form_input-group
				span.ch-form_addition.--prefix
					i.fa.fa-lock
				input.ch-form_text#inputPassword(
					type="password",
					name="inputPassword",
					placeholder="Mot de passe",
					ng-model="login.password",
					required
					)
		.ch-form_row
			a(ui-sref="register") Pas de compte ?
			button.ch-btn.pull-right(type="submit", ng-disabled="login.connecting", disabled).
				#[i.fa.fa-spin.fa-spinner(ng-show="login.connecting")]
				Connexion
